





  <div class="row p-0 m-0">
  
    <div class="col-sm-2"></div>
  
    <div class="col-sm-8 p-5">
  
      <h2 class="form-signin-heading">Create a new issue</h2>
  
      <br>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <br>
    <span>Title of the issue: </span>
<!-- title -->
<label for="titleOfIssue" class="sr-only">Title</label>
<div class="form-group input-group-lg">
  <input class="form-control" placeholder="Title" formControlName="title" required autofocus>
</div>
<br>



<span>Description of the issue: </span>
  
<label for="description" class="sr-only">description</label>
<div class="form-group input-group-lg">
<ck-editor  name="editor1" formControlName="description" skin="moono-lisa" language="en" [fullPage]="true" [config]="{
  toolbarGroups:[ 
  { name: 'others' },
  '/',
  { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
  { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
  { name: 'styles' },
  { name: 'colors' },
  { name: 'about' }
]
}"></ck-editor>
</div>
<br>



<span>Upload an attachment: </span>

    <!-- Progress Bar -->
    <div class="progress form-group" *ngIf="issueService.percentDone">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
        [style.width.%]="issueService.percentDone">
      </div>
    </div>
    <br>
  
    
    <!-- File Input -->
    <div class="form-group">
      <input type="file" name="attachment" multiple (change)="uploadFile($event)">
    </div>
  
    <br>

  
<span>Add Assignee: </span>

<!-- <label for="assignee" class="sr-only">Assignee</label>

<div class="form-group input-group-lg">
  <input type="text" id="assignee" class="form-control" placeholder="assignee" formControlName="assignee" required>
</div>
<br> -->
<div class="form-group input-group-lg">
 
<select class="form-control input-group-lg" formControlName="assignee" (change)="changeAssignee($event)">
  <option value="" >Choose an assignee</option>
  <option *ngFor="let user of Users" [ngValue]="user">{{user}}</option>
</select>
</div>
<br>
<br>
  
<span>Add Watcher: </span>

<!-- <label for="watcher" class="sr-only">watcher</label>

<div class="form-group input-group-lg">
  <input type="text" id="watcher" class="form-control" placeholder="watcher" formControlName="watcher" required>
</div>
<br> -->
<div class="form-group input-group-lg">
 
  <select class="form-control input-group-lg" formControlName="watcher" (change)="changeWatcher($event)">
    <option value="" >Choose Watchers</option>
    <option *ngFor="let user of Users" [ngValue]="user">{{user}}</option>
  </select>
  </div>
  <br>
  <br>
  
<!-- <span>Name of Reporter:  </span>

<label for="reporter" class="sr-only">Reporter</label>

<div class="form-group input-group-lg">
  <input type="text" id="reporter" class="form-control" placeholder="reporter" formControlName="reporter" required>
</div>
<br> -->


  
<span>Comments: </span>

<label for="comments" class="sr-only">Comments</label>

<div class="form-group input-group-lg">
  <input type="text" id="comments" class="form-control" placeholder="comments" formControlName="comments" required>
</div>
<br>




    <!-- <label for="titleOfIssue" class="sr-only">Title</label>
  
    <input type="text" id="titleOfIssue" class="form-control" [(ngModel)]="title" placeholder="Title" required autofocus> -->
  
    <!-- Submit -->
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Create Issue</button>
    </div>
  </form>

</div>
  
<div class="col-sm-2"></div>

</div>